/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Header styles */
header {
  background-color: #007dc6; /* Walmart blue color */
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
}

/* Add this to your existing CSS or styles.css file */
.walmarthd {
  background-color: #0073e6; /* Walmart's blue color */
  color: white;
  padding: 13px 0;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px; /* Adjust margin between logo and text */
}

.logo {
  max-width: 80px; /* Set maximum width for logo */
}

.header-text {
  font-weight: bold;
  margin-top: 5px;
}



/* Main styles */
main {
  padding: 20px;
}

/* Order status section styles */
.order-status {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.order-status h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #e0e0e0; /* Grey background for progress bar */
  height: 10px;
  border-radius: 10px;
  margin-bottom: 19px;
}

.progress {
  width: 50%; /* Adjust the width of progress bar */
  background-color: #007dc6; /* Walmart blue color */
  height: 100%;
  border-radius: 10px;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-details img {
  max-width: 100px;
  margin-right: 20px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 20px;
}

#track {
  background-color: #007dc6;; /* Bootstrap's red color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
}

#cancel-button {
  background-color: #FFF;
  color: black;
  padding: 10px 100px;
  border-radius: 100px;
  cursor: pointer;
  margin: 10px;
  margin-left: 25px;
  font-weight: bold;
  border-width: thin;
}


/* Order summary section styles */
.order-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.order-summary h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.summary-details {
  display: flex;
  justify-content: space-between;
}

.left-details p {
  margin-bottom: 5px;
}

.right-details p {
  margin-bottom: 5px;
}

.footer-links-container {
  max-width: 1280px; /* Set maximum width */
  margin: 0 auto; /* Center the container */
  padding-left: 20px; /* Add padding from the left */
}

.footer ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.footer li {
  margin-bottom: 20px; /* Add margin to the bottom of each line */
}

.footer a {
  text-decoration: none; /* Remove underline */
  color: #46474a;; /* Set text color to gray */
}  

.order-status .shit-text {
  margin-bottom: 30px;
}

.year-footer {
  padding: 20px 20px; /* Example padding */
  background-color: #f5f5f5; /* Example background color */
  color: gray; /* Example text color */
  text-align: center; /* Center the text horizontally */
}

/* Adjustments for specific viewport and CSS pixel ratio */
@media (width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2) {
  /* Adjust styles here */
}

@media (width: 828px) and (height: 1792px) and (-webkit-device-pixel-ratio: 2) {
  /* Adjust styles here */
}
